@{
    ViewBag.Title = "Home Page";
}
<center><h1>Welcome to Griffin's Bakery</h1>
<h3>Home to the best baked goods in Seattle</h3>
<h4>Please view our menu here: @Html.ActionLink("Menu", "Index", "Menu")</h4></center>